/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#timer__component{
  display: block;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.timer__input-number{
  display: grid;
  gap:10px

}
.timer__input-number label{
  text-align: left;
}
.timer__input-number input[type="number"]{
  width: 2rem;
  font-size: 1.5rem;
  height: 2rem;
  color: brown;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid purple;
  outline: none;
}
.timer__buttons{
  margin-top: 2rem;

display: flex;
gap: 1rem;
font-family: monospace;
font-weight: bold;
color: gray;
}
.timer__buttons button{
  padding: 6px 12px;
  background-color: rgb(137, 137, 193);
}




.scroll__container--byRef section{
  margin-top: 2rem;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border: 5px solid purple;
}

.typingText{
  background-color: black;
  color: white;
  height: 60vh;
  width: 60vw;
}
.typing-container{
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
}
.typing-container p,.typing-container textarea{
  height: 5rem;
  width: 10rem;
  position: absolute;
  top: 0;
  left: 0;
}
.typing-container p{
background: transparent;
border: 1px solid blue;
}
.typing-container textarea{
  background-color: transparent;
  color: red;
  border: 1px solid yellow;
} */